@import './font.scss';

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 12.6rem;
    height: 5rem;
    padding: 20px;
    border-radius: 20px;
    color: #000000;
    font-family: $font-montserrat;
    flex-shrink: 0;

    .icon-container {
        align-self: flex-end;
      
      .icon {
        width: 24px;
        height: 24px;
      }
    }
    .bold-text {
        font-weight: bold;
        font-size: 1.75rem;
    }
      
    .small-text {
        font-size: 15px;
        padding-bottom: 1rem;
    }
}

