

.dashboard_main{
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #eaeaea;

    .right{
        height: auto;
        width: 80%;
        margin: 2rem;
        display: flex;
        background-color: black;
    }
   
}
