@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

$font-lato: Lato;
$font-montserrat: Montserrat;
$font-open-sans: "Open Sans";


$font-sm: 14px;
$font-5xl: 24px;
$font-xs: 12px;
$font-lg: 18px;
$font-17xl: 36px;
$font-base: 16px;